body {
  margin: 0;
  font-family: "나눔바른고딕", Sans-serif, "맑은 고딕", Helvetica;
  overflow-x: hidden;
}
h3 {
  margin: 0;
}

.fixedTopMenu {
  position: fixed;
  width: 1600px;
  height: 110px;
  z-index: 2;
}
.mainTopContainer {
  background: #f6f5ef;
  height: 110px;
  position: relative;
}

.logo {
  background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
  width: 75px;
  height: 75px;
  text-indent: -20000px;
  margin: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
  left: 15%;
  cursor: pointer;
}

.firstRightMenu {
  position: absolute;
  right: 10%;
  top: -8px;
  line-height: 35px;
}

ul {
  list-style: none;
}

.topNav {
  display: inline-flex;
  text-align: center;
  width: 530px;
  justify-content: space-around;
  cursor: pointer;
}
.topNav :hover {
  text-decoration: underline;
}
.topNav li a {
  font: normal 13px Avenir, Arial, georgia;
  justify-content: space-between;
}
.searchBox {
  width: 34px;
  height: 34px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.searchImg {
  position: absolute;
  top: 25%;
  left: 25%;
}
.navigationMenuBar {
  position: relative;
  top: -50px;
  z-index: 1;
  width: 100%;
}

.secondRightMenu {
  position: absolute;
  width: 100%;
  left: 50%;
  top: -15px;
}
/* 상단 메뉴 hover시 슬라이드 메뉴 형성 */
.coffee:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.coffee:hover {
  background: #2c2a29;
  color: #669900;
}

.topMenu:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.topMenu:hover {
  background: #2c2a29;
  color: #669900;
}

.menuStore:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.menuStore:hover {
  background: #2c2a29;
  color: #669900;
}

.responBox:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.responBox:hover {
  background: #2c2a29;
  color: #669900;
}
.rewardsBox:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.rewardsBox:hover {
  background: #2c2a29;
  color: #669900;
}
.newBox:hover .menuBox {
  height: 400px;
  opacity: 1;
}
.newBox:hover {
  background: #2c2a29;
  color: #669900;
}
.menuBox {
  position: absolute;
  width: 100%;
  top: 67px;
  left: -50%;
  height: 0;
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
}

.Menu {
  padding: 0;
}

.menuBarContainer {
  display: flex;
  justify-content: space-evenly;
  background: #2c2a29;
  text-align: left;
}

.menu li {
  cursor: pointer;
}
.menu li:hover {
  text-decoration: underline;
}

.menuBarBtmBox div {
  padding-left: 160px;
  padding-top: 50px;
}

.secondTopMenu {
  display: inline-flex;
  text-align: center;
  width: 750px;
  font: normal 13px Avenir, Arial, georgia;
  cursor: pointer;
}
.firstList {
  height: 25px;
  padding: 15px;
}

.middleSection {
  display: flex;
  padding-top: 112px;
}

/* 중간 Section Left */
.sectionLeftPart {
  flex: 1;
  background-color: #111;
  position: relative;
  height: 62px;
}

.sectionLeft {
  display: flex;
  color: #ffffff;
  flex: 1;
  left: 25%;
  position: absolute;
  cursor: pointer;
}
.sectionLeft img {
  position: relative;
  top: 17px;
}

.sectionLeft ul li {
  font-size: 14px;
  line-height: 28px;
  position: relative;
  left: -15%;
}

.systemLink {
  background: url("https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png")
    0 0 no-repeat;
  background-size: 35px;
  width: 35px;
  height: 35px;
  right: -300px;
  top: 13px;
  text-indent: -20000px;
  position: absolute;
}

/* 중간 Section Right */

.sectionRightPart {
  position: relative;
  flex: 1;
  left: 15%;
  cursor: pointer;
}
.sectionRightPart a img {
  position: relative;
  left: 15%;
  top: 18%;
}
.sectionRightPart a span {
  color: #666666;
  font-weight: bold;
  font-family: "맑은 고딕";
  font-size: 1.1rem;
}

.Menu {
}

.menuBarContainer ul li:first-child a {
  height: 56px;
  background: black;
}
.menuBarContainer ul li:first-child {
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0px 12px;
  color: #fff;
}

.menuBarContainer ul li {
  font-size: 12px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  color: #999999;
  text-align: left;
}
.menuBarContainer ul li:last-child {
  padding-bottom: 20px;
}
.menuBarBtmBox {
  background: url(https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg);
  height: 200px;
  width: 100%;
  text-align: left;
}
.menuBarBtmBlank {
  background: url(https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg);
  height: 50px;
  width: 100%;
  text-align: left;
}
.menuBarBtmBox div h3 {
  color: #999;
  line-height: 18px;
}
.menuBarBtmBox div p {
  color: #64a70b;
  font-size: 12px;
}

/* Second Section Part */

.secondSection {
  position: relative;
  padding: 10px 0px 60px;
  background-color: #1e3932;
  height: 170px;
}

.secondSectionContainer {
  display: flex;
  margin-left: 12rem;
}

.secondSectionLeft {
  margin-left: 40px;
  margin-right: 40px;
}
.secondLogo {
  position: relative;
  top: 15%;
}
.secondSectionRightTotalBox {
  color: #fff;
  letter-spacing: 0.5px;
}
.secondSectionRight {
}
.secondSectionRightTopContent {
  display: flex;
}
.secondSectionRightTopContent strong {
  font-size: 30px;
  margin: 15px;
}
.secondSectionRightBtmContent {
  display: flex;
  position: relative;
  font-size: 17px;
  width: 150%;
  border-bottom: 1px solid #4b615b;
  line-height: 1.4;
}

.btnSignBox {
  position: absolute;
  top: 16px;
  right: 0;
}
.btnSign {
  background-color: #00704a;
  border: 2px solid #00704a;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.btnSign:hover {
  text-decoration: underline;
}

.btnLogin {
  margin-left: 9px;
  background-color: transparent;
  border: 2px solid #fff;
}
.secondSecBtm {
  position: relative;
  font-size: 14px;
  width: 150%;
  line-height: 1.4;
}
.giftCardBox {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 183px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.giftCardLink {
  color: #fff;
  cursor: pointer;
}
.giftCardLink:hover {
  text-decoration: underline;
}

/* orangeSection  2th */

.orangeSecBox {
  background: #f0831e;
  height: 520px;
}

.coffeeImg {
  position: relative;
  left: 30%;
  width: 255px;
  height: 313px;
  top: 90px;
}

@keyframes slideOrange {
  from {
    left: -900px;
    opacity: 0;
  }
  to {
    left: 30%;
    opacity: 1;
  }
}

@keyframes slideDisappearOrange {
  from {
    left: 30%;
    opacity: 1;
  }
  to {
    left: -900px;
    opacity: 0;
  }
}
.coffeeTextImg {
  position: relative;
  left: 55%;
  width: 290px;
  height: 130px;
  top: -165px;
}

@keyframes slideOrangeFromRight {
  from {
    left: 100%;
    opacity: 0;
  }
  to {
    left: 55%;
    opacity: 1;
  }
}

@keyframes slideDisOrangeToRight {
  from {
    left: 55%;
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}

.orangeSecMoreBtn {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 100%;
  color: #403225;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #403225;
  border-radius: 10px;
  position: relative;
  left: 10%;
  bottom: 140px;
  cursor: pointer;
}

@keyframes slideOrangeBtn {
  from {
    left: 50%;
    opacity: 0;
  }
  to {
    left: 10%;
    opacity: 1;
  }
}

@keyframes slideDisOrangeBtn {
  from {
    left: 10%;
    opacity: 1;
  }
  to {
    left: 50%;
    opacity: 0;
  }
}

.orangeSecBox::before {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  content: "";
  left: 0;
  width: 390px;
  top: 83%;
  height: 510px;
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Autumn_bean_bg_left.png);
  background-position: left bottom;
  overflow: hidden;
}

.orangeSecBox::after {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  content: "";
  top: 83%;
  right: 0;
  width: 457px;
  height: 504px;
  background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Autumn_bean_bg_right.png);
  background-position: right bottom;
}

/* 4th Section */

.fourthSection {
  position: relative;
}

.fourthSecTextImg {
  position: absolute;
  top: 20%;
  left: 20%;
}

.fourthSecMoreBtn {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 100%;
  color: #b9813e;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #b9813e;
  border-radius: 10px;
  position: relative;
  left: 15%;
  top: 40px;
  cursor: pointer;
}

/* 5th Section */

.fifthSection {
  background: url(https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png)
    no-repeat 50% 100%;
  height: 375px;
  background-size: auto 340px;
  background-position: 53% 100%;
  overflow: hidden;
}

.fifthSecImg {
  padding-top: 135px;
  padding-left: 150px;
}

.fifthSecBtn {
  box-sizing: border-box;
}
.fifthSecBtn a {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 100%;
  color: #000;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  left: -17%;
  top: 20px;
}
.fifthSecBtn a:hover {
  transition: 1s ease-out;
  cursor: pointer;
}
/* Last Section */
.backImage {
  height: 430px;
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg)
    fixed;
  position: relative;
}

.pickY {
  font-size: 1.5em;
  width: 258px;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 20px;
  left: 310px;
}
.pick {
  margin: 0;
  font-size: 77px;
  width: 600px;
}
.favorite {
  margin: 0;
  font-size: 57px;
  letter-spacing: 20px;
}
.pickContent {
  position: absolute;
  top: 195px;
  left: 310px;
  text-align: right;
  color: white;
}
.lastSectionPhoto {
  position: absolute;
  top: 50px;
  right: 10%;
}

/* slide 정의 */

@keyframes slideFromLeft {
  from {
    left: -900px;
    opacity: 0;
  }
  to {
    left: 310px;
    opacity: 1;
  }
}

@keyframes disappearToLeft {
  from {
    left: 310px;
    opacity: 1;
  }
  to {
    left: -900px;
    opacity: 0;
  }
}

@keyframes slideFromRight {
  from {
    right: -2000px;
    opacity: 0;
  }
  to {
    right: 10%;
    opacity: 1;
  }
}

@keyframes disappearToRight {
  from {
    right: 10%;
    opacity: 1;
  }
  to {
    right: -2000px;
    opacity: 0;
  }
}
.detailBtn {
  border-radius: 6px;
  border: 1px solid white;
  text-align: center;
  width: 100px;
  height: 28px;
  position: absolute;
  vertical-align: middle;
  right: 0;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 10px;
}

.detailBtn:hover {
  text-decoration: underline;
}
.badge {
  position: fixed;
  top: 145px;
  right: 5%;
  z-index: 1;
}

footer {
  background: #2c2a29;
}
.footerContainer {
  background: url(https://www.starbucks.co.kr/common/img/footer/footer_logo.png)
    no-repeat;
  background-position: right;
  margin-right: 200px;
}
.footerInnerWrap {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  width: 100%;
}

.footerInnerWrap ul li:first-child {
  font-size: 14px;
  line-height: 40px;
}

.footerInnerWrap ul li {
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerInnerWrap ul li:hover {
  text-decoration: underline;
}

aside div:first-child {
  display: flex;
  justify-content: center;
  margin: 30px;
  width: 100%;
}
aside div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: 100%;
}
.awardsList {
  background: #282828;
}
.awardsList ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

aside a:first-child {
  color: #00b050 !important;
  font-weight: bold;
}
.asidetopText {
  border-right: 1px solid #393939;
  color: #ccc;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.asidetopText:hover {
  text-decoration: underline;
}

.asideDownText {
  color: white;
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 10px;
  font-size: 12px;
  width: 100px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.asideDownText:hover {
  text-decoration: underline;
}

.businessInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}

.businessInfo li {
  line-height: 1.3;
  display: inline-block;
  margin: 0 7px;
  color: #999;
  font-size: 12px;
}

.copyright {
  display: flex;
  justify-content: center;
}
.copyright span {
  line-height: 1.3;
  display: inline-block;
  margin: 0 7px;
  color: #999;
  font-size: 12px;
  height: 70px;
}
