body {
  margin: 0;
  font-family: "나눔바른고딕", Sans-serif, "맑은 고딕", Helvetica;
}

.mainTopContainer {
  background: #f6f5ef;
  height: 110px;
  position: relative;
}

.logo {
  background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
  width: 75px;
  height: 75px;
  text-indent: -20000px;
  margin: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 15%;
  left: 2%;
}

.firstRightMenu {
  position: absolute;
  right: 15px;
  top: -8px;
  line-height: 35px;
}

ul {
  list-style: none;
}

.topNav {
  display: inline-flex;
  text-align: center;
  width: 530px;
  justify-content: space-around;
}
.topNav li a {
  font: normal 13px Avenir, Arial, georgia;
  justify-content: space-between;
}
.searchBox {
  width: 34px;
  height: 34px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.searchImg {
  position: absolute;
  top: 25%;
  left: 25%;
}

.secondRightMenu {
  position: absolute;
  right: 15px;
  top: 55px;
  line-height: 20px;
}

.secondTopMenu {
  display: inline-flex;
  text-align: center;
  width: 750px;
  justify-content: space-around;
  font: normal 13px Avenir, Arial, georgia;
}

.middleSection {
  display: flex;
}

/* 중간 Section Left */
.sectionLeftPart {
  flex: 1;
  background-color: #111;
}

.sectionLeft {
  display: flex;
  color: #ffffff;
  flex: 1;
  position: relative;
  flex: 1;
  left: 25%;
}
.sectionLeft img {
  position: relative;
  top: 17px;
}

.sectionLeft ul li {
  font-size: 14px;
  line-height: 28px;
  position: relative;
  left: -15%;
}

.systemLink {
  background: url("https://www.starbucks.co.kr/common/img/common/btn_notice_plus.png")
    0 0 no-repeat;
  background-size: 35px;
  width: 35px;
  height: 35px;
  position: relative;
  left: 18%;
  top: 10px;
  text-indent: -20000px;
}

/* 중간 Section Right */

.sectionRightPart {
  position: relative;
  flex: 1;
  left: 20%;
}
.sectionRightPart a img {
  position: relative;
  left: 15%;
  top: 18%;
}
.sectionRightPart a span {
  color: #666666;
  font-weight: bold;
  font-family: "맑은 고딕";
  font-size: 1.1rem;
}

/* Second Section Part */

.secondSectionContainer {
  display: flex;
}
